<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Image linker tool</h1>

        The image links tool provides links to images 3rd party sources.

        <h2>REST API</h2>

        <ul>
            <li>
                Endpoint: <tt>/img_links/v1/links</tt>

                <div class="args">
                    URL arguments:
                    <ul>
                        <li>
                            <tt>file</tt>: The filename on Commons
                        <li>
                            <tt>page</tt>: The page number (1-indexed)
                        </li>
                    </ul>
                </div>
                <div class="example">
                    Example: <a href="/img_links/v1/links?file=The Philippine Islands, 1493-1803 (Volume 02).djvu&page=285">
                        /img_links/v1/links?file=The Philippine Islands, 1493-1803 (Volume 02).djvu&page=285
                        </a>
                </div>
            </li>
        </ul>
        <hr>
        Source code: <a href="https://phabricator.wikimedia.org/source/iltools/">https://phabricator.wikimedia.org/source/iltools/</a>
    </body>
</html>