<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>External scan utils</h1>
        <ul>
            <li>
                <a href="/pagelist">/pagelist</a>
            </li>
            <li>
                <a href="/img_links">/img_links</a>
            </li>
        </ul>
        <hr>
        Source code: <a href="https://phabricator.wikimedia.org/source/iltools/">https://phabricator.wikimedia.org/source/iltools/</a>
    </body>
</html>