<template>
  <div class="about container">
    <h2>What is this tool?</h2>
    <p>Wikisource Image Uploader is a tool for making it easier to upload images
      for works at Wikisource without being slowed down by endless filling in of
      image metadata (or, work, not doing your metadata at least somewhat reasonably!)
    </p>
    <h2>What is this tool not?</h2>
    <p>
      This tool does not provide ways to automatically extract images from scanned
      pages. Such extraction is technically demanding and needs to be done, carefully,
      by a human for good results.
    </p>
    <h2>How to use this tool</h2>
      The essential workflow is, starting on the <a href="/">main form</a>:
      <ul>
        <li>
          Select the target wiki. Usually this will be Commons, rarely licensing
          conditions means it must be a Wikisource.
        </li>
        <li>
          Select the file to upload from your computer.
        </li>
        <li>
          Fill in whatever metadata is relevant.
        </li>
        <li>
          Generate a file information page and check if it is correct. You can make
          manual adjustments if you need.
        </li>
        <li>
          Upload the image to the target wiki.
        </li>
      </ul>
      <p>
        For more information, see the documentation pages
        <a href="https://en.wikisource.org/wiki/Help:Gadget-ImageUploader">here</a>.
    <h2>Does this tool use my account or information?</h2>
    <p>
      Images uploaded with this tool will be uploaded under your own account. You
      will be asked to grant the ability to upload files using your account to this
      tool via the OAuth mechanism. This tool does not have access to your password and does not
      store account details or other identifying information.
    </p>
  </div>
</template>