<template>
  <div id="main-form">
    <b-container>
    <UploadDetails
      ref="uploadDetails"
      @descriptionReady="onDescriptionReady"
      :username="username"
    />
    <DescriptionField
      ref="descriptionField"
    />
    <div style="text-align: center;">
    <b-button
      @click="onUploadClick"
      :disabled="uploadDisabled"
    >
      Upload
    </b-button>
    <b-alert id="upload-notice" show>
      <strong>Note</strong>: You are responsible for checking the above information is complete and correct.
      The file will be uploaded under your account. If it does not have correct
      license information, it will be deleted.
    </b-alert>
  </div>
  </b-container>
  <UploadComplete
    ref="uploadCompleteModal"
  />
  <ErrorPopup
    ref="errorPopup"
  />
  </div>
</template>

<script>
import UploadDetails from '@/components/UploadDetails.vue'
import DescriptionField from '@/components/DescriptionField.vue'
import UploadComplete from '@/components/UploadComplete.vue'
import ErrorPopup from '@/components/ErrorPopup.vue'

function loadFromQueryParams(form, query) {
  form.wsLang = query.wsLang || 'en';
  form.uploadTarget = query.uploadTarget || 'commons';
  form.title = query.title || '';
  form.pageNumber = query.pageNumber || '';
  form.imgType = query.imgType || 'illustration';
  form.date = query.date || '';
  form.dateInTitle = !!query.dateInTitle || true;
  form.initial = query.initial || '';
  form.caption = query.caption || '';
  form.author = query.author || '';
  form.license = query.license || '';
  form.index = query.index || '';

  if ( Array.isArray( query['categories[]'] ) ) {
    form.categories = query['categories[]'];
  } else {
    form.categories = form.categories.length ? [ query['categories[]'] ] : [];
  }
}
export default {
  name: 'MainForm',
  props: [
    'username'
  ],
  data () {
    return {
      isMounted: false,
    }
  },
  components: {
    UploadDetails,
    DescriptionField,
    UploadComplete,
    ErrorPopup
  },
  mounted () {
      loadFromQueryParams( this.$refs.uploadDetails.form, this.$route.query);
      this.$refs.uploadDetails.init();

      this.isMounted = true;
  },
  computed: {
    uploadDisabled () {
      if(!this.isMounted)
        return true;

      return !this.$refs.descriptionField.okToUpload;
    }
  },
  methods: {
    onDescriptionReady( filename, desc ) {
      this.$refs.descriptionField.setDescription( desc );
      this.$refs.descriptionField.setFilename( filename );
    },
    onUploadClick() {
      const url = process.env.VUE_APP_BACKEND_URL + '/upload';

      const form = this.$refs.uploadDetails.form;

      let wiki;
      if ( form.uploadTarget == "wikisource" ) {
        wiki = "wikisource";
        if ( form.wsLang ) {
          wiki = form.wsLang + "." + wiki
        }
      } else {
        wiki = "commons.wikimedia";
      }

      let fileUrl = "https://" + wiki + (this.useBeta ? '.beta.wmflabs' : '') + '.org';

      let data = new FormData()
      data.append('file_name', this.$refs.descriptionField.filename );
      data.append('description', this.$refs.descriptionField.content );
      data.append('wiki', wiki );
      data.append('file', this.$refs.uploadDetails.form.file );

      // POST the data to the backend
      fetch(url, {
        method: 'POST',
        body: data
      } )
      .then( response => {

        if ( response.ok ) {
          this.$refs.uploadCompleteModal.filename = "File:" + this.$refs.descriptionField.filename;
          this.$refs.uploadCompleteModal.url = fileUrl + '/wiki/' + this.$refs.uploadCompleteModal.filename;
          this.$bvModal.show('bv-modal-upload-complete');
        } else {
          this.$refs.errorPopup.error = "Upload failed"
          this.$refs.errorPopup.showModal();
        }
      } );
    }
  }
}
</script>

<style scoped>
#main-form {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-bottom: 30px;
}

#main-form >>> #upload-notice {
  margin-top: 10px;
  text-align:  left;
}
</style>
