<template>
  <div>
    <b-input-group class="cat-tags" >
      <vue-tags-input
        v-model="category"
        :tags="categories"
        @tags-changed="update"
        :autocomplete-items="autocompleteItems"
        placeholder="Type to add image categories"
      />
      <b-input-group-append>
        <b-button
          variant="outline-primary"
          title="Add common categories"
          @click="onFindMoreClick"
        >
          +
        </b-button>
      </b-input-group-append>
    </b-input-group>
    <CategoryHelper
      @input="onAddedFromHelper"
    />
  </div>
</template>

<script>
import VueTagsInput from '@johmun/vue-tags-input';
import CategoryHelper from '@/components/CategoryHelper';

/*
 * Get pages with prefix
 */
function getCategorySuggestions( wiki, input ) {

  let params = {
    format: "json",
    formatversion: 2,
    origin: "*",
    action: "query",
    list: "allpages",
    aplimit: 15,
    apfrom: input,
    apprefix: input,
    apnamespace: 14
  };

  return fetch( wiki + '/w/api.php?' + new URLSearchParams(params))
    .then( res => res.json() )
    .then( data => data.query.allpages.map( p => p.title ) );
}

export default {

  name: 'CategoryTags',

  components: {
    VueTagsInput,
    CategoryHelper
  },

  props: ['value'],

  data () {
    return {
      wiki_url: 'https://commons.wikimedia.org',
      category: '',
      autocompleteItems: [],
      debounce: null,
    }
  },
  computed: {
    categories () {
      const vals = this.$props.value.map( c =>  {
        return { text: c };
      } );
      return vals;
    }
  },
  watch: {
    'category': 'initItems',
  },
  methods: {
    update( newTags ) {
      this.autocompleteItems = [];

      this.$emit(`input`, newTags.map( c => c.text ) );
    },
    initItems() {
      if (this.category.length < 2) {
        return;
      }

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {

        getCategorySuggestions( this.wiki_url, this.category )
          .then( data => {
            this.autocompleteItems = data.map( p => {
              return {
                text: p.replace(/^Category:/, '')
              };
            } );
          });
      }, 400);
    },
    onFindMoreClick() {
      this.$bvModal.show('bv-modal-choose-category');
    },
    onAddedFromHelper(newTag) {
      this.$props.value.push(newTag);
    }
  }
}
</script>

<style lang="css" scoped>

.cat-tags {
  flex-wrap: nowrap;
}

.vue-tags-input {
  max-width: unset !important;
  flex: 1 1 auto;
}

.vue-tags-input >>> div {
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vue-tags-input >>> .ti-input {
  height: 100%;
}
</style>