<template>
	<div id="footer">
		<b-navbar
			variant="light"
		>
			<b-navbar-nav class="ml-auto">
				<ul class="inline-list">
					<li>
						This is the
							<a
							:href="$props.sourceUrl"
							class="name">
								{{ $props.toolName }}
							</a> tool.
					</li>
					<li>
						Report bugs <a :href="$props.bugUrl">here</a>.
					</li>
					<li>
						❦
					</li>
				</ul>
			</b-navbar-nav>
		</b-navbar>
	</div>
</template>

<script>
export default {

  name: 'Footer',

  props: [
		'toolName',
		'bugUrl',
		'sourceUrl'
	],

  data () {
		return {
		}
  }
}
</script>

<style lang="css" scoped>
#footer {
	text-align: center;
	margin-top:  10px;
}
.inline-list {
	list-style: none;
}
.inline-list li {
	display: inline-block;
	padding-left:  1em;
}
.name {
	font-weight: bold;
}
</style>