<template>
	<b-modal
		:id="id"
		@hidden="onHide"
		show>
		<template #modal-title>
			{{ title }}
		</template>
			<b-form-input
				type=text
				@keydown="onKeyDown"
				@input="getSuggestedPages"
				:value="index"
				autofocus
			/>
			<b-list-group
				id="index-suggestions"
				@keydown="onKeyDown"
			>
				<b-list-group-item
					class="py-1"
					href="#"
					v-for="(s, index) in suggestions"
					:key="s"
					:active="selected == index"
					@focus="onItemClick(index)"
					@dblclick="onItemDblClick"
				>
					{{ s }}
				</b-list-group-item>
			</b-list-group>
	</b-modal>
</template>

<script>

import mwUtils from "@/mwUtils.js";

export default {

	name: 'IndexLookUp',

	props: [
		'id',
		'title',
		'namespace',
		'wiki',
		'username'
	],

	data () {
		return {
			index: '',
			suggestions: [],
			selected: 0,
		}
	},
	watch: {
		username () {
			this.getSuggestedPages( '' );
		},
	},
	methods: {
		onKeyDown(event) {
			switch( event.key ) {
				case "ArrowDown":
					this.selected = (this.selected + 1) % this.suggestions.length;
					event.preventDefault();
					break;
				case "ArrowUp":
					this.selected = (this.selected - 1) % this.suggestions.length;
					event.preventDefault();
					break;
				case "ArrowRight":
					this.index = this.suggestions[this.selected];
					break;
				case "Enter":
					this.index = this.suggestions[this.selected];
					this.$root.$emit('bv::hide::modal', 'bv-modal-index-lookup');
					break;
			}
		},
		onItemClick( index ) {
			this.selected = index;
			this.index = this.suggestions[index];
		},
		onItemDblClick() {
			this.$root.$emit('bv::hide::modal', 'bv-modal-index-lookup');
		},
		getSuggestedPages( prefix ) {

			prefix = prefix.replace( /^\w+:/, '' );

			let vm = this;
			let sug;
			if ( prefix && prefix.length ) {
				sug = mwUtils.getRecentPrefixEdits( this.$props.wiki, prefix, this.$props.namespace);
			} else if ( this.$props.username ) {
				sug = mwUtils.getRecentUserEdits( this.$props.wiki, this.$props.username, this.$props.namespace);
			}

			if ( sug ) {
				sug.then( data => {

					data = data.filter( d => {
						return d.title.indexOf("/") === -1;
					});

					vm.suggestions = data.map( s => s.title );
				} );
			}
		},
		onHide() {
			this.$emit(`input`, this.index);
		}
	},
}
</script>

<style lang="css" scoped>
#index-suggestions {
	margin-top: 10px;
}
</style>