<template>
    <div>
    <b-form-input
      :value="value"
      :state="validate_existence"
      @input='updateValue("value", $event)'
      ref="pageInput"
      list="page-lookup-list"
      type=text
      debounce=400
      autocomplete="off"
    ></b-form-input>
    <datalist id="page-lookup-list">
      <option v-for="suggestion in suggestions" :key="suggestion">{{ suggestion }}</option>
    </datalist>
  </div>
</template>

<script>


/*
 * Get pages with prefix
 */
function getPageSuggestions(input, namespace) {

  let params = {
    format: "json",
    formatversion: 2,
    origin: "*",
    action: "query",
    list: "allpages",
    aplimit: 15,
    apfrom: input,
    apprefix: input,
  };
  if (namespace) {
    params.apnamespace = namespace
  }

  return fetch('https://en.wikisource.org/w/api.php?' + new URLSearchParams(params))
    .then( res => res.json() );
}

function pageExists( title ) {
  const params = {
    format: 'json',
    formatversion: 2,
    origin: "*",
    action: 'query',
    titles: title,
  };

  return fetch('https://en.wikisource.org/w/api.php?' + new URLSearchParams(params))
    .then( res => res.json() )
    .then( data => !data.query.pages[0].missing );
}


export default {

  name: 'PageLookupField',

  props: ['value'],

  data () {
    return {
      page: this.value,
      exists: false,
      namespace: 106,
      suggestions: []
    }
  },
  computed: {
    validate_existence() {
      return this.exists;
    }
  },
  methods: {
    updateValue(propName, val) {
      const noNsVal = val.replace(/^.*?:/, "");
      getPageSuggestions(noNsVal, this.namespace)
        .then( suggestions => {
          this.suggestions = suggestions.query.allpages.map( p => p.title );
        } );

      pageExists(val)
        .then( exists => {
          this.exists = exists;
        } );

      this.$emit(`input`, val);
    }
  }
}
</script>

<style lang="css" scoped>
</style>