<template>
		<b-modal
				id="bv-modal-upload-complete"
				ok-only
				show>
				<template #modal-title>
						Upload Complete
				</template>
				<a :href="url">{{ filename }}</a>
		</b-modal>
</template>

<script>
export default {

	name: 'UploadComplete',

	data () {
		return {
			filename: '',
			url: ''
		}
	}
}
</script>

<style lang="css" scoped>
</style>