<template>
	<b-modal
		id="bv-modal-wikidata-lookup"
		@hidden="onHide"
		show>
		<template #modal-title>
			Search for Wikidata item
		</template>
		<b-form-input
			type=text
			@keydown="onKeyDown"
			@input="getSuggestedPages"
			:value="index.label"
			autofocus
		/>
		<b-list-group
			id="index-suggestions"
			@keydown="onKeyDown"
		>
			<b-list-group-item
				class="py-1"
				href="#"
				v-for="(s, index) in suggestions"
				:key="s.id"
				:active="selected == index"
				@focus="onItemClick(index)"
				@dblclick="onItemDblClick"

			>
				{{ s.label }} <small>({{s.id}}<span v-if="s.description">: {{ s.description }}</span>)</small>
			</b-list-group-item>
		</b-list-group>
	</b-modal>
</template>

<script>

import mwUtils from "@/mwUtils.js";

export default {

	name: 'WikiDataLookUp',

	data () {
		return {
			index: '',
			suggestions: [],
			selected: 0,
		}
	},
	methods: {
		onKeyDown(event) {
			switch( event.key ) {
				case "ArrowDown":
					this.selected = (this.selected + 1) % this.suggestions.length;
					event.preventDefault();
					break;
				case "ArrowUp":
					this.selected = (this.selected - 1) % this.suggestions.length;
					event.preventDefault();
					break;
				case "ArrowRight":
					this.index = this.suggestions[this.selected];
					break;
				case "Enter":
					this.index = this.suggestions[this.selected];
					this.$root.$emit('bv::hide::modal', 'bv-modal-wikidata-lookup');
					break;
			}
		},
		onItemClick( index ) {
			this.selected = index;
			this.index = this.suggestions[index];
		},
		onItemDblClick() {
			this.$root.$emit('bv::hide::modal', 'bv-modal-wikidata-lookup');
		},
		getSuggestedPages( prefix ) {
			let vm = this;
			let sug;
			if ( prefix && prefix.length ) {
				sug = mwUtils.getWikidataSuggestions( prefix );
			}

			if ( sug ) {
				sug.then( data => {
					vm.suggestions = data.map( s => {
						return {
							id: s.id,
							label: s.label,
							description: s.description
						};
					} );
				} );
			}
		},
		onHide() {
			this.$emit(`input`, this.index);
		}
	},
}
</script>

<style lang="css" scoped>
#index-suggestions {
	margin-top: 10px;
}
</style>